



.ptitulo{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.blue{
    background-color: aqua;
}

.red{
    background-color: red;
}

.dashboard-status{
    color: #777;
    padding: 1rem 0;
}

.dashboard-status-error{
    color: #c0392b;
}

